{% extends 'base.html.twig' %}

{% block body %}
    <h1 style="color: #000">Sorry, you are not allowed to access this page</h1>
    <a href="{{ path("newsfeed") }}">Return to main page</a>
{% endblock %}