{# Shows the loggin in user's friends #}

{% extends "::base.html.twig" %}

{% block title %}SwotNetworkBundle:Frontend:newsfeed{% endblock %}

{% block headline %}
    <div class="profile-picture-container flex-row">
        <h1 class="profile-picture-title">
            {% trans %}user.friend.title{% endtrans %}
        </h1>
        <div class="hex small flex-left">
            <img class="maskborder" src="{{ (profile_image_folder ~ app.user.profileImage|default('person-inverted.jpg')) | imagine_filter('profile_image_thumb_small') }}"/>
        </div>
        <div class="long-hex flex-center"></div>
        <div class="long-hex-after flex-right"></div>
    </div>
{% endblock %}

{% block body %}
    {{ render(controller("SwotNetworkBundle:Friend:showAppUserFriendList")) }}
    {% if user == app.user %}
        {{ render(controller("SwotNetworkBundle:Friend:showRandomStrangers")) }}
    {% endif %}
{% endblock %}
