{# Shows the loggin in user's friends #}

{% extends "::base.html.twig" %}

{% block title %}SwotNetworkBundle:Frontend:newsfeed{% endblock %}

{% block headline %}
    <div class="profile-picture-container flex-row">
        <h1 class="profile-picture-title">
            {% trans %}user.friend.title{% endtrans %}
        </h1>
        <div class="hex small flex-left">
            <img class="maskborder" src="
                    {{ (profile_image_folder ~ app.user.profileImage) | imagine_filter('profile_image_thumb')|default(asset('res/gfx/person.jpg')) }}"
            />
        </div>
        <div class="long-hex flex-center"></div>
        <div class="long-hex-after flex-right"></div>
    </div>
{% endblock %}

{% block body %}
    {% include 'SwotNetworkBundle:Friend:list.html.twig' with {user: app.user} %}
    {% if user == app.user %}
        <h2>{% trans %}user.friend.alreadyknow{% endtrans %}</h2>
        <div class="hex-list small">
            {% for stranger in strangers %}
                {% include 'SwotNetworkBundle:Friend:friendListEntry.html.twig' with {friend: stranger} %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
