{#
    This template should be included.
    The passed variable is type of thing.
    example:
    {% include 'SwotNetworkBundle:Frontend:myThingsEntry.html.twig' with {thing: ownership.thing} %}

    Used by SwotNetworkBundle:Frontend:myThings.html.twig
    in
    Swot\NetworkBundle\Controller\FrontendController#myThingsAction
#}

<div class="hex-list-item">
    <div class="hex-list-item-inner">
        <a href="{{ path('thing_show', {id: thing.id}) }}">{{ thing.name }}</a> <br/>
        {% if thing.ownership.owner != app.user %}
            Owner: <a href="{{ path('friend_show', {id: thing.ownership.owner.id}) }}">{{ thing.ownership.owner.username }}</a>
        {% endif %}
        <br/>
    </div>

</div>

