{# Shows the logged in user's things #}

{% extends "::base.html.twig" %}

{% block title %}SwotNetworkBundle:Frontend:newsfeed{% endblock %}

{% block headline %}
    <div class="profile-picture-container">
        <h1 class="profile-picture-title">
            {% trans %}settings.page_title{% endtrans %}
        </h1>
        <div class="profile-picture-hex">
            <img class="maskborder" src="
                    {{ (profile_image_folder ~ app.user.profileImage) | imagine_filter('profile_image_thumb')|default('http://localhost/swot/web/res/gfx/person.jpg') }}"
                    />
        </div>
        <div class="long-hex"></div>
        <div class="long-hex-after"></div>
    </div>
{% endblock %}

{% block body %}

    {# Flash messages #}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <a href="{{ path('register_thing') }}">Register new thing</a>
    <div class="hex-list">
        {% for ownership in app.user.ownerships %}
            <div class="hex">
                {% include 'SwotNetworkBundle:Frontend:myThingsEntry.html.twig' with {thing: ownership.thing} %}
                <div class="maskborder thing-default-picture"></div>
            </div>
        {% endfor %}
    </div>
    <h2>Things lent to me</h2>
    <div class="hex-list">
         {% for thing in app.user.thingsLent %}
            <div class="hex">
                {% include 'SwotNetworkBundle:Frontend:myThingsEntry.html.twig' with {thing: thing.thing} %}
                <div class="maskborder thing-default-picture"></div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
