{# Shows the logged in user's things #}

{% extends "::base.html.twig" %}

{% block title %}SwotNetworkBundle:Frontend:newsfeed{% endblock %}

{% block body %}
    <h1>My Things</h1>
        <ul class="small-block-grid-2 large-block-grid-4">
            {% for ownership in app.user.ownerships %}
                <li>
                    {% include 'SwotNetworkBundle:Frontend:myThingsEntry.html.twig' with {thing: ownership.thing} %}
                </li>
            {% endfor %}
        </ul>


    <h1>Things lent to me</h1>
        <ul class="small-block-grid-2 large-block-grid-4">
            {% for thing in app.user.thingsLent %}
                {% include 'SwotNetworkBundle:Frontend:myThingsEntry.html.twig' with {thing: thing.thing} %}
            {% endfor %}
        </ul>

{% endblock %}
