{# Index page when logged in #}

{% extends "::base.html.twig" %}

{% block title %}SwotNetworkBundle:Frontend:newsfeed{% endblock %}

{% block body %}
    <div id="newsfeed">
        {{ render(controller("SwotNetworkBundle:Frontend:newsfeedSince", { since: 0 })) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function() {
            (function() {
                /**
                 * Get timestamp of last received message and periodically check if there are new ones.
                 * Add new messages in first place.
                 */
                $messageContainer = $('#newsfeed');
                var getLastMessageDate = function() {
                    return parseInt($messageContainer.find('.newsitem-sent').last().attr('data-timestamp'));
                };

                var timeout = {{ long_poll_intervall }};
                var url = "{{ path('newsfeed_since', {since: '__since_placeholder__', _format: 'html' }) }}";
                var callback = function() {
                    var since = getLastMessageDate();
                    console.log(since);
                    var replacedUrl = url.replace('__since_placeholder__', encodeURI(since.toString()));
                    $.get(replacedUrl, function(res) {
                        if(res !== "") {
                            $messageContainer.prepend(res);
                        }
                    });

                    setTimeout(callback, timeout);
                };
               callback();
            }())
        });
    </script>
{% endblock %}

