{% if friendships|length > 0 %}
    {% if user != app.user %}
        <h2>{% trans %}user.friend.friend_title{% endtrans %}</h2>
    {% endif %}
    <div class="hex-list small">
        {% for friendship in friendships %}
            {# Test if userWho or userWith is the "other" friend/user #}
            {% if friendship.userWith == user %}
                {% set friend = friendship.userWho %}
            {% else %}
                {% set friend = friendship.userWith %}
            {% endif %}
            {% set friend = friendship.otherUser(user) %}
                {% include 'SwotNetworkBundle:Friend:listEntry.html.twig' with {friend: friend} %}
        {% endfor %}
    </div>
{% endif %}