{#
    This template should be included.
    The passed variable is type of thing.
    example:
    {% include 'SwotNetworkBundle:Frontend:myThingsEntry.html.twig' with {thing: ownership.thing} %}

    Used by SwotNetworkBundle:Frontend:myThings.html.twig
    in
    Swot\NetworkBundle\Controller\FrontendController#myThingsAction
#}

<div class="hex-item">
    <div class="hex-item-inner">
        <a href="{{ path('friend_show', {id: friend.id}) }}">{{ friend.username }}</a> <br/>
    </div>
</div>

