{#
    This template should be included.
    The passed variable is type of thing.
    example:
    {% include 'SwotNetworkBundle:Frontend:myThingsEntry.html.twig' with {thing: ownership.thing} %}

    Used by SwotNetworkBundle:Frontend:myThings.html.twig
    in
    Swot\NetworkBundle\Controller\FrontendController#myThingsAction
#}
<a class="hex small" href="{{ path('friend_show', {id: friend.id}) }}">
    <div class="hex-item">
        <div class="hex-item-inner">{{ friend.username }}</div>
    </div>
    <img class="maskborder opac" src="{{ (profile_image_folder ~ friend.profileImage|default('person.jpg')) | imagine_filter('profile_image_thumb_small') }}"/>
</a>


