{# Shows the loggin in user's friends #}

{% extends "::base.html.twig" %}

{% block title %}SwotNetworkBundle:Frontend:newsfeed{% endblock %}

{% block body %}

    <h1>My Friends</h1>

    {% for friendship in user.friendships %}
        {% set friend = friendship.otherUser(user) %}

        <a href="{{ path('friend_show', {id: friend.id}) }}">
            {{ friend.username }}
        </a>
        <br/>
        {{ friend.firstName }}<br/>
        {{ friend.lastName }}<br/>

        <hr/>

    {% endfor %}

{% endblock %}
