{# Shows the loggin in user's friends #}

{% extends "::base.html.twig" %}

{% block title %}SwotNetworkBundle:Frontend:newsfeed{% endblock %}

{% block headline %}
    <div class="profile-picture-container">
        <h1 class="profile-picture-title">
            {% trans %}user.friend.title{% endtrans %}
        </h1>
        <div class="profile-picture-hex">
            <div class="maskborder profile-picture"></div>
        </div>
        <div class="long-hex"></div>
        <div class="long-hex-after"></div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $('.profile-picture').setHeadlinePicture("{{ (profile_image_folder ~ app.user.profileImage) | imagine_filter('profile_image_thumb') }}");
    </script>
{% endblock %}

{% block body %}

   <div class="hex-list">
        {% for friendship in user.friendships %}

        {# Test if userWho or userWith is the "other" friend/user #}
        {% if friendship.userWith == user %}
            {% set friend = friendship.userWho %}
        {% else %}
            {% set friend = friendship.userWith %}
        {% endif %}

        {% set friend = friendship.otherUser(user) %}


        <div class="hex">
            {% include 'SwotNetworkBundle:Friend:friendListEntry.html.twig' with {friend: friend} %}
            <div class="maskborder friend-default-picture"></div>
        </div>

        {% endfor %}
    </div>

{% endblock %}
