{# Shows the loggin in user's friends #}

{% extends "::base.html.twig" %}

{% block title %}SwotNetworkBundle:Frontend:newsfeed{% endblock %}

{% block body %}

    <h1>My Friends</h1>
   <div class="hex-list">
        {% for friendship in user.friendships %}

        {# Test if userWho or userWith is the "other" friend/user #}
        {% if friendship.userWith == user %}
            {% set friend = friendship.userWho %}
        {% else %}
            {% set friend = friendship.userWith %}
        {% endif %}

        {% set friend = friendship.otherUser(user) %}

        {% if loop.index0 is divisibleby(4) %}
            {% if loop.first == false %}</div>{% endif %}
            <div class="hex-row">
            {% if loop.last %}</div>{% endif %}
            {% set counter = 0 %}
        {% endif %}
        {% set counter = counter + 1 %}
        <div class="hex {{ cycle(['even', ''], counter) }}">
            {% include 'SwotNetworkBundle:Friend:friendListEntry.html.twig' with {friend: friend} %}
            <div class="maskborder friend-default-picture"></div>
        </div>
        {% endfor %}
    </div>

{% endblock %}
