{% extends "::base.html.twig" %}

{% block title %}SwotNetworkBundle:Friend:show{% endblock %}

{% block body %}
    {#
    Show break up form only if the current profile is not the user's profile
    --> User cannot break up with himself

    Also hide if user has not the friend rights.
    #}
    {% if user != app.user %}
        {% if is_granted('friend', user) %}
            {{ form(breakUpForm) }}
            <a href="{{ path('new_conversation', {id: user.id}) }}">send message</a>
        {% else %}
            {{ form(sendInviteForm) }}
        {% endif %}
    {% endif %}
    <br/>
    {{ user.username }}
{% endblock %}
