{# Shows the loggin in user's friends #}

{% extends "::base.html.twig" %}

{% block title %}
    {% trans %}settings.page_title{% endtrans %}
{% endblock %}

{% block headline %}
    <div class="profile-picture-container">
        <h1 class="profile-picture-title">
            {% trans %}settings.page_title{% endtrans %}
        </h1>
        <div class="small-hex">
            <img class="maskborder" src="
                    {{ (profile_image_folder ~ app.user.profileImage) | imagine_filter('profile_image_thumb')|default('http://localhost/swot/web/res/gfx/person-inverted.jpg') }}"
                    />
        </div>
        <div class="long-hex"></div>
        <div class="long-hex-after"></div>
    </div>
{% endblock %}

{% block body %}
    <form action="{{ path('settings') }}" method="POST" {{ form_enctype(settingsForm) }}>
        {{ form_widget(settingsForm) }}

        <button type="submit">save</button>
    </form>

{% endblock %}
