{# Shows the loggin in user's friends #}

{% extends "::base.html.twig" %}

{% block title %}
    {% trans %}settings.page_title{% endtrans %}
{% endblock %}
{% block headline %}{% trans %}settings.page_title{% endtrans %}{% endblock %}
{% block body %}
    <form action="{{ path('settings') }}" method="POST" {{ form_enctype(settingsForm) }}>
        {{ form_widget(settingsForm) }}

        <button type="submit">save</button>
    </form>

{% endblock %}
