{# Shows all conversations where the current user is involved #}

{% extends "::base.html.twig" %}

{% block title %}
    {% trans %}conversations.page_title{% endtrans %}
{% endblock %}

{% block body %}

    <div>
        <a class="button secondary" href="{{ path('new_message') }}">
            {% trans %}conversations.new.link_title{% endtrans %}
        </a>
    </div>

    {{ render(controller("SwotNetworkBundle:Message:conversationsSince", {since: 0})) }}
{% endblock %}
