{# Shows all conversations where the current user is involved #}

{% extends "::base.html.twig" %}

{% block title %}
    {% trans %}conversations.page_title{% endtrans %}
{% endblock %}

{% block body %}
    <h1>{% trans %}conversations.page_title{% endtrans %}</h1>

    <div>
        <a href="{{ path('new_message') }}">
            {% trans %}conversations.new.link_title{% endtrans %}
        </a>
    </div>

    {% for conversation in conversations %}
        {% if conversation.messages|length > 0 %}
            {% set partner = (conversation.messages|last).otherUser(app.user) %}

            <hr/>
            <div>
                <div>from: {{ conversation.updated|date }}</div>
                <a href="{{ path('conversation', {id: conversation.id}) }}">
                    {{ partner.username }}
                </a>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}
