{# Starts a new conversation #}

{% extends "::base.html.twig" %}

{% block title %}
    {% trans %}conversations.new.page_title{% endtrans %}
{% endblock %}

{% block body %}

    <form action="{{ path('new_message') }}" method="post" {{ form_enctype(newMessageForm) }}>
        {{ form_widget(newMessageForm) }}

        <button type="submit">
            {% trans %}conversations.new.send_label{% endtrans %}
        </button>
    </form>

{% endblock %}
