
.top-bar .toggle-topbar{
	left:0px;
	right: auto;
}

.top-bar .name {
	background: transparent url("../gfx/title.png") no-repeat center center;
	width: 180px;
	margin: auto;
}

.top-bar {
	background-color: #FEAF10;
	margin-bottom: 40px;
}

.nav-item {
	height: 36px;
	padding-left: 42px;
	padding-top: 8px;
	background-position: left center;
	background-repeat: no-repeat;
}	

.news-icon {
	background-image: url("../gfx/calendar-text.png");
}

.profile-icon {
	background-image: url("../gfx/account-star.png");
}

.messages-icon {
	background-image: url("../gfx/comment.png");
}

.friends-icon {
	background-image: url("../gfx/account-multiple.png");
}

.devices-icon {
	background-image: url("../gfx/hexagon-outline.png");
}

.account-icon {
    background-image: url("../gfx/lock.png");
}

html, body{
  height:100%;
}

body {
	padding: 0;
	margin: 0;
	font-family: 'Slabo 27px', serif;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.main {
	float: left;
	height: 100%;
	width: 790px;
}

li {
	margin: 10px;
}

.devices-list li {
	display: inline-block;
	cursor: pointer;
	font-size: 23px;
	text-align: center;
}

.device-actions li {
	display: inline-block;
	cursor: pointer;
	font-size: 23px;
	text-align: center;
	border: 1px solid black;
	width: 70px;
	height: 50px;
	padding-top: 20px;
}

.devices-list li:hover, .device-actions li:hover {
	color: green;
}

.main-title {
    font-size: 28px;
    height: 36px;
    padding-left: 18px;
    padding-top: 4px;
}

.device-actions ul {
	margin: 0;
}

.devices-add {
	margin: 20px;
}

.news-item {
	margin: 20px;
	padding: 10px;
	border: 1px solid black;
}

.device-top > div {
	display: inline-block;	
}

.device-top > div:nth-child(2) {
	margin-right: 270px;	
}

.device-top, .device-center {
	margin-bottom: 70px;
}

.device-detail-picture {
	width: 150px;
	height: 150px;
	border: 1px solid black;
}

.devices-list-picture {
	width: 50px;
	height: 50px;
	border: 1px solid black;
	margin: 8px;
}

.news-picture {
	width: 50px;
}

.news-header * {
	display: inline-block;
	height: 50px;
	vertical-align: middle;
}

.news-header {
	margin-bottom: 10px;
}

.device-admin-functions * {
	cursor: pointer;
	text-align: right;
}
