html, body{
    height:100%;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Slabo 27px', serif;
}


.top-bar .toggle-topbar{
	left:0;
	right: auto;
}

.top-bar .name {
	background: transparent url("../gfx/title.png") no-repeat center center;
	width: 180px;
	margin: auto;
}

.top-bar {
	background-color: #FEAF10;
	margin-bottom: 40px;
}

.nav-item {
	height: 36px;
	padding-left: 42px;
	padding-top: 8px;
	background-position: left center;
	background-repeat: no-repeat;
}	

.news-icon {
	background-image: url("../gfx/calendar-text.png");
}

.profile-icon {
	background-image: url("../gfx/account-star.png");
}

.messages-icon {
	background-image: url("../gfx/comment.png");
}

.friends-icon {
	background-image: url("../gfx/account-multiple.png");
}

.devices-icon {
	background-image: url("../gfx/hexagon-outline.png");
}

.account-icon {
    background-image: url("../gfx/lock.png");
}

.hex-list {
    padding-left: 33px;
    padding-top: 71px;
    padding-bottom: 100px;
}

.hex-list-item {
    width: 130px;
    height: 130px;
    position: absolute;
    margin-left: 24px;
    z-index: 100;
}

.hex-list-item-inner {
    width: 130px;
    height: 130px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.hex-row {
    clear: left;
}
.hex.even {
    margin-top: 15px;
}

.hex {
    position: relative;
    display: inline-block;
    width: 180px;
    height: 158px;
    overflow: hidden;
    color: #fff;
    -webkit-mask-image: url(../gfx/hexagon_mask.png);
    mask: url(../gfx/hexagon_mask.png);
    text-align: center;
    background-color: #000;
    float: left;
    margin-left: -33px;
    margin-top: -71px;
}

.maskborder{
    width: 170px;
    height: 149.22px;
    -webkit-mask-box-image: url(../gfx/hexagon_mask.png);

    margin-left: 5px;
    margin-top: 4px;

}

.friend-default-picture {
    background: transparent url(../gfx/person.jpg) no-repeat center center;
    opacity: 0.5;
    background-size: cover;
}

.thing-default-picture {
    background: transparent url(../gfx/toaster.jpg) no-repeat center center;
    opacity: 0.5;
    background-size: cover;
}

.hex .content{
    height: 186px;
    width: 186px;
    margin: auto;
    margin-top: 16px;
}