html, body{
    height:100%;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Slabo 27px', serif;
}


.top-bar .toggle-topbar{
	left:0;
	right: auto;
}

.top-bar .name {
	background: transparent url("../gfx/title.png") no-repeat center center;
	width: 180px;
	margin: auto;
}

.top-bar {
	background-color: #FEAF10;
	margin-bottom: 40px;
}

.nav-item {
	height: 36px;
	padding-left: 42px;
	padding-top: 8px;
	background-position: left center;
	background-repeat: no-repeat;
}	

.news-icon {
	background-image: url("../gfx/calendar-text.png");
}

.profile-icon {
	background-image: url("../gfx/account-star.png");
}

.messages-icon {
	background-image: url("../gfx/comment.png");
}

.friends-icon {
	background-image: url("../gfx/account-multiple.png");
}

.devices-icon {
	background-image: url("../gfx/hexagon-outline.png");
}

.account-icon {
    background-image: url("../gfx/lock.png");
}

.thing-list-item {
    width: 130px;
    height: 130px;
}

.thing-list-item-inner {
    width: 130px;
    height: 130px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.thing-list-item img {
    opacity: 0.1;
    width: 130px;
    position: absolute;
}



