{% extends "::base.html.twig" %}

{% block title %}Lend {{ thing.name }}{% endblock %}

{% block body %}

    <h1>Lend {{ thing.name }}</h1>

    <form action="#" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}

        <button type="submit">save</button>
    </form>

{% endblock %}