<a class="hex" href="{{ path('thing_show', {id: thing.id}) }}">
    <div class="hex-item">
        <div class="hex-item-inner">
            {{ thing.name }}<br/>
            {% if thing.ownership.owner != app.user %}
                Owner: {{ thing.ownership.owner.username }}
            {% endif %}
        </div>
    </div>
    <img class="maskborder opac" src="{{ asset('res/gfx/thing.jpg') }}"
            />
</a>

