<a class="hex {% if thing.accessType == "public" %}public-thing{% endif %}" href="{{ path('thing_show', {id: thing.id}) }}">
    <div class="hex-item">
        <div class="hex-item-inner">
            {{ thing.name }}<br/>
            {% if showOwner %}
                Owner: {{ thing.ownership.owner.username }}
            {% endif %}
        </div>
    </div>
    <img class="maskborder opac" src="{{ (profile_image_folder ~ thing.profileImage|default('thing.jpg')) | imagine_filter('profile_image_thumb_small') }}"/>
</a>

