{% extends "::base.html.twig" %}

{% block title %}Settings for {{ thing.name }}{% endblock %}

{% block body %}

    <h2>Settings for {{ thing.name }}</h2>

    <form action="#" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}

        <button type="submit">save</button>
    </form>

    <ul>
        {% for rental in thing.rentals %}

        {% endfor %}
    </ul>

    <p>
        TODO:
        <ul>
            <li>Verleihungen anzeigen</li>
            <li>Verleihungen beenden</li>
            <li>Gerät verleihen</li>
        </ul>
    </p>

{% endblock %}